$light-grey-color: #666;
$font-color:#333333;
$main-color:#ccac6f;
$line-color:#dddddd;
$none-color:#C0C0C0;
$bg-color:#F9F9F9;
$price-color:#dd0b0b;
$del-color: #ef5f2d;
$fail-color:#999999;
$search-hui-color:#717171;
$newyear-color:#ccac6f;

$classify-leftli:1rem;
$classify-rightli:2rem;
$figure-h:1.79rem;
$last-gradient-color:#dfcdab;


